/* Estilos generales en escala de grises */
/* General */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f7f7f7;
}

/* Estilos generales de la barra de navegación */
.navbar {
    background-color: #333;
}

.navbar-nav .nav-link {
    color: #f2f2f2 !important;
    padding: 8px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Efecto hover */
.navbar-nav .nav-link:hover {
    background-color: #f2f2f2; /* Fondo claro */
    color: #333 !important; /* Texto oscuro */
    border-radius: 5px; /* Bordes redondeados para un efecto visual */
}


/* ################################## Encabezado ##################################################*/
/* Encabezado */
.header {
    background-image: url("/img/Header_1.jpg"); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
    color: white;
    padding: 80px 0;
    position: relative;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semitransparente para mejorar legibilidad */
    z-index: 1;
}

.header .container {
    position: relative;
    z-index: 2;
}

.header h1 {
    font-size: 3.5rem;
    color: #f0f0f0;
}

.header p {
    font-size: 1.25rem;
    color: #dcdcdc;
}

/* Imagen de perfil en el encabezado */
.header img {
    border: 5px solid white; /* Borde blanco */
    border-radius: 50%; /* Forma circular */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); /* Sombra para destacar la imagen */
}


/* ############################### Estilo General para Secciones ###################################*/
.section-title {
    font-size: 2rem; /* Tamaño de título */
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    position: relative;
    margin-bottom: 2rem;
    text-align: center;
}
.section-title1{
    font-size: 2rem; /* Tamaño de título */
    font-weight: bold;
    text-transform: uppercase;
    color: #f7f7f7;
    position: relative;
    margin-bottom: 2rem;
    text-align: center;
}

.section-title::after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background-color: #333;
    margin: 0.5rem auto;
}

/* Sección Perfil */
.perfil-section {
    background-color: #f7f7f7;
    color: #333;
    padding: 60px 0;
}

.perfil-section p {
    font-size: 1rem; /* Tamaño de fuente del texto */
    color: #333 ; /* Color gris para el texto */
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}


/* Sección Educación */
.educacion-section {
    background-color: #333; /* Fondo gris claro */
    color: #f0f0f0;
    padding: 60px 0;
}

.section-title {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 2rem;
}

.section-title::after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background-color: #f0f0f0;
    margin: 0.5rem auto;
}

.institution-logo {
    width: 60px;
    height: auto;
}

.institution-info h4 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #f0f0f0;
    text-transform: uppercase;
}

.institution-info {
    font-size: 1rem;
    color: #f0f0f0;
}

/* ##################################################################################################### */


/* Conocimientos Section */
.conocimientos-section {
    background-color: #f7f7f7;
    color: #333;
    padding: 60px 0;
}

.knowledge-card {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.card-icon {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.card-title {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.card-text {
    font-size: 0.9rem;
    color: #666;
}

@media (max-width: 768px) {
    .knowledge-card {
        flex-direction: column;
        text-align: center;
    }

    .card-icon {
        margin: 0 0 15px 0;
    }
}


/* ##################################################################################################### */


/* Sección Proyecto Detalle */
.proyecto-detalle-section {
    background-color: #f7f7f7;
    color: #333;
}

.proyecto-detalle-section h2 {
    color: #333;
}

.proyecto-descripcion h3 {
    color: #555;
    font-weight: bold;
}

/* Imágenes del Carrusel */
.proyecto-img {
    width: 100%;
    height: 800px; /* Altura considerable */
    object-fit: cover; /* Ajusta la imagen sin deformarla */
}

/* Botones y Hover */
.btn-primary {
    background-color: #444;
    border: none;
}

.btn-primary:hover {
    background-color: #666;
    color: #f7f7f7;
}
/* Botón de Retorno */
.btn-retorno {
    position: absolute;
    top: 60px;
    left: 5px;
    color: #555; /* Gris medio para sutileza */
    font-size: 1rem;
    text-decoration: none;
    background-color: transparent;
    padding: 8px 12px;
    border-radius: 5px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.btn-retorno:hover {
    color: #333; /* Gris oscuro en hover */
    background-color: #e0e0e0; /* Gris claro de fondo en hover */
    text-decoration: none;
}

/* Estilo de los botones del carrusel */
.carousel-control-prev,
.carousel-control-next {
    width: 5%;
    transition: background-color 0.3s ease;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: rgba(255, 255, 255, 0.6); /* Fondo claro con transparencia */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1); /* Inversión de color para mejorar visibilidad en imágenes oscuras */
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
    filter: invert(0); /* Flechas oscuras cuando el fondo es claro */
}


/* ##################################################################################################### */

/* ##################################################################################################### */

/* Sección de Carrera Profesional */
.carrera-section {
    background-color: #f7f7f7;
    color: #333;
    padding: 60px 0;
    position: relative;
}

/* Línea de tiempo central */
.timeline {
    position: relative;
    margin: 20px auto;
    width: 90%;
}

.timeline-item {
    position: relative;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.timeline-item.left {
    float: left;
    text-align: right;
    clear: both;
}

.timeline-item.right {
    float: right;
    text-align: left;
    clear: both;
}

/* Timeline Card Styles - Inverted Colors */
.timeline-content {
    background-color: #333; /* Fondo oscuro */
    color: #f7f7f7; /* Texto claro */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra oscura */
    position: relative;
}

.timeline-content::before {
    content: "";
    position: absolute;
    top: 20px;
    width: 20px;
    height: 20px;
    background-color: #aaaaaa; /* Punto claro */
    border-radius: 50%;
    z-index: 1;
}

/* Conectores en la línea de tiempo */
.timeline-item.left .timeline-content::before {
    right: -10px;
}

.timeline-item.right .timeline-content::before {
    left: -10px;
}

/* Línea central */
.timeline::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 4px;
    background-color: #f7f7f7; /* Línea central clara */
    top: 0;
    bottom: 0;
    margin-left: -2px;
}

/* Fecha en la tarjeta */
.timeline-date {
    font-weight: bold;
    font-size: 1.1rem;
    color: #cccccc; /* Color claro para la fecha */
}

/* Título y descripción */
.timeline h4 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff; /* Título en color blanco */
    margin: 10px 0;
}

.timeline p, .location {
    color: #dcdcdc; /* Texto en gris claro */
    font-size: 0.9rem;
    margin: 5px 0;
}

.location {
    color: #aaaaaa; /* Ubicación en tono más claro */
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */



/* ##################################################################################################### */

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

/* Para la página de contacto */
#contact-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

/* Estilos para la tarjeta de contacto */
#contact-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#contact-photo {
    width: 350px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 30px;
}

#contact-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-item {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 100px;
    color: #333; /* Color de texto */
}

.material-icons-outlined {
    font-size: 70px; /* Tamaño del icono */
    color: #333; /* Color del icono */
}


.texto {
    font-size: 25px;
    color: #333;
}

/* Formulario de contacto */
#contact-form {
    margin-top: 30px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#contactame {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.fila {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 15px;
}

.campo {
    flex: 1;
}

label {
    color: #333;
    font-size: 14px;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.mensaje textarea {
    height: 100px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}
